body {
 margin: 0;
 padding: 0;
}

#name {
font-family: 'Cormorant SC', serif;
font-weight: 150;
font-size: 50px;
margin-bottom: 0;
text-align: center;
padding: 0 10px;
}


main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #001637;
  color: #ffd60a;
  line-height: 1.5;
  font-family: Tahoma, sans-serif;
}

#description {
  margin-top: 15px;
  font-style: italic;
  text-align: center;
}

#img-div{
  max-width: 100%;
  min-width:50%;
  height: auto;
  padding: 20px 80px 20px 80px;
  margin: 0;
  background-color: #000814;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: auto;
  border-radius: 5px;
}

#img-caption {
  margin-top:20px;
  margin-bottom: 0;
  text-align: center;
}

.bold{
  font-family: 'Cormorant SC', serif;
  font-size: 25px;
}

#tribute-title{
font-family: 'Cormorant SC', serif;
font-weight: bold;
font-size: 25px;
margin-bottom: 5px;
text-align: center;
}

#tribute-info {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul{
  align-self: center;
}

li {
  margin-bottom: 20px;
  list-style-type: none;
}

li::before {
  content: "»";
  font-size: 25px;
  padding: 8px;
}

#quote {
  background-color: #000814;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0;
}

blockquote, cite{
  max-width: 800px;
  margin-top: 0;
  font-family: 'Cormorant SC', serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#cta {
  text-align: center;
  max-width: 600px;
  font-weight: bold;
}


a:link {
  color: #FFD60A;
}


a:visited {
  color: #FFD60A;
}


a:hover {
  color: #FFF0A8;
}


a:active {
  color: blue;
} 
